<h1>About Us:</h1>
<p>Welcome All!</p>
<p>This is our blog to express your thoughts and let it out.</p>

<p>
  <a class="btn btn-warning btn-lg" role="button" <%= link_to 'Articles List', articles_path %></a> |
  <a class="btn btn-warning btn-lg" role="button" <%= link_to 'Home Page', root_path %></a>
</p>
