
body {
    background-color: beige;
}

#home-container {
    margin-top: 25px;
   
    border-radius: 5px;
    text-align: center;
    color: beige;
}

// #footer {
    
// }

.jumbotron {
    background-image: asset-url('test-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    // display: flexbox;
    // text-align: end;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: 35px;
    background-color: #fcba03;
    background-position-y: bottom ;
}