
body {
    background-color: beige;
}

#home-container {
    margin-top: 25px;
   
    border-radius: 5px;
    text-align: center;
    color: beige;
}

#italic {
    font-style: italic;
    background-color: #1C8F0B;
}

.jumbotron {
    background-image: asset-url('test-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

// html {
//     position: relative;
// }

footer {
    position: fixed;
    //position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    background-color: #fcba03;
}

.card-body {
    background-color: #FDEE9E;
}

.card, .card-footer {
    background-color: #1C8F0B;
}

#form {
    background-color: #FDEE9E;
}

