
body {
    background-color: beige;
}

#home-container {
    margin-top: 25px;
   
    border-radius: 5px;
    text-align: center;
    color: beige;
}

.jumbotron {
    background-image: asset-url('test-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


footer {
    position: fixed;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 35px;
    background-color: #fcba03;
}