<footer class="fixed-footer">
  <div class="text-center mt-3  text-dark">
    Copyright 2023: <a class="text-success", <%= link_to "Subtle Matter", "https://www.subtlematter.com" %>
  </div> 
</footer>
