<footer class="footer py-3 text-center">
  <a href="#" class="btn btn-success">Contact Us</a>
    <div class="text-center p-3 mt-2 text-light">
      Copyright 2023: <a class="text-white", <%= link_to "Subtle Matter", "https://www.subtlematter.com" %>
    </div>
</footer>
