<footer class="footer py-3 text-center">
  <a class="btn btn-success" <%= link_to 'Create new article', new_article_path %></a>
    <div class="text-center p-3 mt-2 text-light">
      Copyright 2023: <a class="text-white", <%= link_to "Subtle Matter", "https://www.subtlematter.com" %>
    </div>
</footer>
